@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTBandocheB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTBandocheB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.app{
  width: 100vw;
  height: 100vh;

}

h1{
  font-family: 'LOTTERIACHAB';
  font-size: 32px;
  text-align: center;
  text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

th, td{
  text-align: center;
}

.Container{
  display: flex;
  flex-direction: column;
  height: 740px;
  width: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  border-radius: 10px;
}

.Boxes, .Buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  border-radius: 10px;
}

.Boxes{
  flex: 4 0 auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.Buttons{
  flex: 1 0 auto;
}

button{
  background-color: none;
  color: #fbb03b;
  border: none;
  margin: 1% 10px;
}

button:hover{
  color: #41ad4d;
  cursor: pointer;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  border: solid 5px black;
  border-radius: 20px;
  font-family: 'PTBandocheB';
  color: white;
  text-shadow: -1px 0 #fbb03b, 0 1px #fbb03b, 1px 0 #fbb03b, 0 -1px #fbb03b;
}

.box h2{
  text-align: center;
  font-size: 24px;
}

.item-img{
  width: 100px;
  height: 100px;
}

.WIN{
  border: 10px solid green;
  color: green;
}
.TIE{
  border: 10px solid black;
  color: white;
}
.LOSE{
  border: 10px solid red;
  color: red;
}


@media screen and (max-width: 720px) {
  .Container{
    width: 320px;
  }
  .Boxes{
    display: flex;
    flex-direction: column;
  }
}