body{
  width: 100vw;
  height: 100vh;
  background-color: pink;
}

h1{
  text-align: center;
}

.Container{
  display: flex;
  flex-direction: column;
  height: 740px;
  width: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  background-color: aliceblue;
  border-radius: 10px;
}

.Boxes, .Buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
}

.Boxes{
  flex: 4 0 auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.Buttons{
  flex: 1 0 auto;
}

button{
  background-color: aliceblue;
  border: none;
  margin-top: 1%;
}

button:hover{
  color: aqua;
  cursor: pointer;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  border: solid 5px black;
}

.box h2{
  text-align: center;
}

.item-img{
  width: 100px;
  height: 100px;
}

.WIN{
  border: 10px solid green;
  color: green;
}
.TIE{
  border: 10px solid black;
  color: black;
}
.LOSE{
  border: 10px solid red;
  color: red;
}


@media screen and (max-width: 720px) {
  .Container{
    width: 320px;
  }
  .Boxes{
    display: flex;
    flex-direction: column;
  }
}